<h3>Hola {{ username }}:</h3>

<p>
    La dirección de correo electrónico de su cuenta de colaborador de Shutterstock se cambió recientemente.
    Si no realizó estos cambios, póngase inmediatamente en contacto con nosotros.
</p>

