<h3>Hola</h3>
<p>Haz solicitado el reinicio de contraseña para la siguiente cuenta:</p>
<ul>
    <li>Correo electrónico: {{ email }}</li>
    <li>Nombre de usuario: {{ username }}</li>
</ul>
<p>
    Si ha sido un error, ignora este correo y no pasará nada.
</p>
<p>
    Para restaurar la contraseña, haz clic en el siguiente enlace:
</p>
<a href="{{link}}">Restaurar contraseña</a>


