<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Mi Panel Principal</a>
    <span class="text-white">
        {% if app.session.csrf_token is defined  %}
            Token CSRF = {{ app.session.csrf_token }}
        {% else %}
            Token CSRF = No esta definido
        {% endif %}
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-user">
{#                    <a class="dropdown-item" href="#">Cuenta</a>#}
                    <a class="dropdown-item" href="/logout?csrf={{ app.session.csrf_token | url_encode }}">Cerrar sesión</a>
                </div>
            </li>
        </ul>

    </div>
</nav>
