
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">

            <small class="d-block mb-3 text-muted">©Edgar Javier Tec Cocom - 2019</small>
        </div>

    </div>
</footer>