{% extends "layouts/base.twig" %}
{% block content %}
    {% if flashMessages is defined %}
        {{ flashMessages|raw }}
    {% endif %}

    <div class="row justify-content-md-center">
        <div class="col-12  col-md-8  col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="mb-0 h6">El enlace ha expirado</h1>
                </div>

                <div class="card-body">
                    <p>El enlace para restablecer su contraseña ha expirado</p>


                    <div class="form-group">
                        <a class="btn btn-block btn-primary" href="{{ base_url }}/forgot-password">Enviar otro enlace</a>

                    </div>


                    <div class="text-center">
                        <i class="fa fa-arrow-left"></i> <a href="{{ base_url }}/">Ir a la página de inicio</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}