{% extends "layouts/base.twig" %}
{% block content %}


    <div class="row justify-content-md-center">
        <div class="col-12  col-md-8  col-xl-6">
            <div class="card">
                <div class="card-header">
                    Demo de Roles y permisos
                </div>
                <div class="card-body">


                    <h1 class="mb-3">Bienvenido al Demo</h1>

                    <a class="btn btn-primary" href="{{ base_url }}/login">Ir al login ⟶</a>

                </div>
            </div>
        </div>
    </div>



{% endblock %}